<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block flashes %}
        {% for flashMessage in app.session.flashbag.get('fos_user_success') %}
            {{ flashMessage|trans({}, 'FOSUserBundle') }}
        {% endfor %} {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %} {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
